<%= form_with(model: tx_error, local: true) do |form| %>
  <% if tx_error.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tx_error.errors.count, "error") %> prohibited this tx_error from being saved:</h2>

      <ul>
      <% tx_error.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
