<%= form_with(model: sla, local: true) do |form| %>
  <% if sla.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sla.errors.count, "error") %> prohibited this sla from being saved:</h2>

      <ul>
      <% sla.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id %>
  </div>

  <div class="field">
    <%= form.label :period %>
    <%= form.number_field :period %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
