<p id="notice"><%= notice %></p>

<h1>Slas</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Period</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slas.each do |sla| %>
      <tr>
        <td><%= sla.category %></td>
        <td><%= sla.period %></td>
        <td><%= sla.status %></td>
        <td><%= link_to 'Show', sla %></td>
        <td><%= link_to 'Edit', edit_sla_path(sla) %></td>
        <td><%= link_to 'Destroy', sla, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sla', new_sla_path %>
