<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @sla.category %>
</p>

<p>
  <strong>Period:</strong>
  <%= @sla.period %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sla.status %>
</p>

<%= link_to 'Edit', edit_sla_path(@sla) %> |
<%= link_to 'Back', slas_path %>
