<section class="section">
  <div class="row ">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15">Created</h5>
                  <h2 class="mb-3 font-24"><%= @status_created %></h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="assets/img/created.png" alt="" width="100">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15">Under Approval</h5>
                  <h2 class="mb-3 font-24"><%= @status_approval %></h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="assets/img/approved.png" alt="" width="100">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15">Open</h5>
                  <h2 class="mb-3 font-24"><%= @status_open %></h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="assets/img/open.png" alt="" width="100">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15"> In Progress</h5>
                  <h2 class="mb-3 font-24"><%= @status_inprogress %></h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="assets/img/assigned.png" alt="" width="100">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15">Overdue</h5>
                  <h2 class="mb-3 font-24"><%= @status_overdue %></h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="assets/img/banner/3.png" alt="" width="100">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15">Closed</h5>
                  <h2 class="mb-3 font-24"><%= @status_closed %></h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="assets/img/closed.png" alt="" width="100">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15">Rejected</h5>
                  <h2 class="mb-3 font-24"><%= @status_rejected %></h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="assets/img/reject.png" alt="" width="100">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15">Total Tiket</h5>
                  <h2 class="mb-3 font-24"><%= @all %></h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="assets/img/ticket_total.png" alt="" width="100">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>Tahun</label>
          <select class="form-control select2" id="tahun">
            <option disabled>--Pilih--</option>
            <% @year=Date.today.year %>
              <% for a in 2022..@year %>
                <% if @year %>
                  <option value="<%= a %>" selected>
                    <%= a %>
                  </option>
                <% else %>
                  <option value="<%= a %>">
                    <%= a %>
                  </option>
                <% end %>
              <% end %>
          </select>
        </div>
      </div>
      <%
=begin%>
 <div class="col-md-3">
        <div class="form-group">
          <label>Bulan</label>
          <select class="form-control" id="bulan">
            <option value="">--Pilih--</option>
              <% for a in 01..12 %>
                <option value="<%= a %>">
                  <%= a %>
                </option>
              <% end %>
          </select>
        </div>
      </div> 
<%
=end%>
      <div class="col-md-3">
        <div class="form-group">
          <label>Teknisi</label>
          <select class="form-control select2" id="teknisi">
            <option value="">--Pilih--</option>
            <% RoleAssignment.left_outer_joins(:role,:user).where('roles.name = ?', 'teknisi').select('users.username').each do |data| %>
              <option value="<%= data.username %>"><%= data.username %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <label style="color: transparent;">Nilai Material</label><br>
        <button type="submit" class="btn btn-primary searching"><i class="fa fa-search"></i> Search</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-primary">
        <div class="card-header">
          <h4>Tiket</h4>
        </div>
        <div class="card-body">
          <div id="chart1"></div>
        </div>
      </div>
    </div>
  </div>
</section>


<%= javascript_include_tag 'charts' %>
  <script>
    'use strict';
    $(document).ready(function(){
      $.ajax({
        url: "/transaksi/dashboard/get-all",
        method: 'GET',
        success: function(data)
        {
          chart1(data['data_dashboard']);
        }
      });
    });

    $(document).on('click', '.searching', function(e){
      e.preventDefault();
      var tahun = $('#tahun').val();
      $('#chart1').empty();
      $.ajax({
        url: "/transaksi/dashboard/get-all",
        method: 'POST',
        data:{
          authenticity_token: '<%= form_authenticity_token %>',
          tahun:tahun
        },
        success: function(data)
        {
          chart1(data['data_dashboard']);
        }
      });
    });

    function chart1(data) {
      var options = {
          chart: {
              height: 350,
              type: 'bar',
          },
          plotOptions: {
              bar: {
                  horizontal: false,
                  endingShape: 'rounded',
                  columnWidth: '55%',
              },
          },
          dataLabels: {
              enabled: false
          },
          stroke: {
              show: true,
              width: 2,
              colors: ['transparent']
          },
          series: [{
              name: 'Created',
              data: [
                data['created']['bulan1']['jumlah'], 
                data['created']['bulan2']['jumlah'], 
                data['created']['bulan3']['jumlah'], 
                data['created']['bulan4']['jumlah'], 
                data['created']['bulan5']['jumlah'], 
                data['created']['bulan6']['jumlah'], 
                data['created']['bulan7']['jumlah'], 
                data['created']['bulan8']['jumlah'], 
                data['created']['bulan9']['jumlah'],
                data['created']['bulan10']['jumlah'],
                data['created']['bulan11']['jumlah'],
                data['created']['bulan12']['jumlah']
              ]
          }, 
          {
              name: 'Under Approval',
              data: [
                data['approval']['bulan1']['jumlah'], 
                data['approval']['bulan2']['jumlah'], 
                data['approval']['bulan3']['jumlah'], 
                data['approval']['bulan4']['jumlah'], 
                data['approval']['bulan5']['jumlah'], 
                data['approval']['bulan6']['jumlah'], 
                data['approval']['bulan7']['jumlah'], 
                data['approval']['bulan8']['jumlah'], 
                data['approval']['bulan9']['jumlah'],
                data['approval']['bulan10']['jumlah'],
                data['approval']['bulan11']['jumlah'],
                data['approval']['bulan12']['jumlah']
              ]
          },
          {
              name: 'Open',
              data: [
                data['open']['bulan1']['jumlah'], 
                data['open']['bulan2']['jumlah'], 
                data['open']['bulan3']['jumlah'], 
                data['open']['bulan4']['jumlah'], 
                data['open']['bulan5']['jumlah'], 
                data['open']['bulan6']['jumlah'], 
                data['open']['bulan7']['jumlah'], 
                data['open']['bulan8']['jumlah'], 
                data['open']['bulan9']['jumlah'],
                data['open']['bulan10']['jumlah'],
                data['open']['bulan11']['jumlah'],
                data['open']['bulan12']['jumlah']
              ]
          },
          {
              name: 'In Progress',
              data: [
                data['inprogress']['bulan1']['jumlah'], 
                data['inprogress']['bulan2']['jumlah'], 
                data['inprogress']['bulan3']['jumlah'], 
                data['inprogress']['bulan4']['jumlah'], 
                data['inprogress']['bulan5']['jumlah'], 
                data['inprogress']['bulan6']['jumlah'], 
                data['inprogress']['bulan7']['jumlah'], 
                data['inprogress']['bulan8']['jumlah'], 
                data['inprogress']['bulan9']['jumlah'],
                data['inprogress']['bulan10']['jumlah'],
                data['inprogress']['bulan11']['jumlah'],
                data['inprogress']['bulan12']['jumlah']
              ]
          }, {
              name: 'Overdue',
              data: [
                data['overdue']['bulan1']['jumlah'], 
                data['overdue']['bulan2']['jumlah'], 
                data['overdue']['bulan3']['jumlah'], 
                data['overdue']['bulan4']['jumlah'], 
                data['overdue']['bulan5']['jumlah'], 
                data['overdue']['bulan6']['jumlah'], 
                data['overdue']['bulan7']['jumlah'], 
                data['overdue']['bulan8']['jumlah'], 
                data['overdue']['bulan9']['jumlah'],
                data['overdue']['bulan10']['jumlah'],
                data['overdue']['bulan11']['jumlah'],
                data['overdue']['bulan12']['jumlah']
              ]
          },{
              name: 'Closed',
              data: [
                data['closed']['bulan1']['jumlah'], 
                data['closed']['bulan2']['jumlah'], 
                data['closed']['bulan3']['jumlah'], 
                data['closed']['bulan4']['jumlah'], 
                data['closed']['bulan5']['jumlah'], 
                data['closed']['bulan6']['jumlah'], 
                data['closed']['bulan7']['jumlah'], 
                data['closed']['bulan8']['jumlah'], 
                data['closed']['bulan9']['jumlah'],
                data['closed']['bulan10']['jumlah'],
                data['closed']['bulan11']['jumlah'],
                data['closed']['bulan12']['jumlah']
              ]
          },{
              name: 'Rejected',
              data: [
                data['rejected']['bulan1']['jumlah'], 
                data['rejected']['bulan2']['jumlah'], 
                data['rejected']['bulan3']['jumlah'], 
                data['rejected']['bulan4']['jumlah'], 
                data['rejected']['bulan5']['jumlah'], 
                data['rejected']['bulan6']['jumlah'], 
                data['rejected']['bulan7']['jumlah'], 
                data['rejected']['bulan8']['jumlah'], 
                data['rejected']['bulan9']['jumlah'],
                data['rejected']['bulan10']['jumlah'],
                data['rejected']['bulan11']['jumlah'],
                data['rejected']['bulan12']['jumlah']
              ]
          }
          ],
          xaxis: {
              categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Des'],
              labels: {
                  style: {
                      colors: '#9aa0ac',
                  }
              }
          },
          yaxis: {
              title: {
                  text: 'Tiket'
              },
              labels: {
                  style: {
                      color: '#9aa0ac',
                  }
              }
          },
          fill: {
              opacity: 1

          },
          tooltip: {
              y: {
                  formatter: function (val) {
                      return val + " Tiket"
                  }
              }
          }
      }

      var chart = new ApexCharts(
          document.querySelector("#chart1"),
          options
      );

      chart.render();
    }
  </script>