<section class="section">
  <div class="row ">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15">Open</h5>
                  <h2 class="mb-3 font-24">5</h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="assets/img/banner/1.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15"> Progress</h5>
                  <h2 class="mb-3 font-24">10</h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="assets/img/banner/2.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15">Solved</h5>
                  <h2 class="mb-3 font-24">35</h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="assets/img/banner/3.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15">Total Tiket</h5>
                  <h2 class="mb-3 font-24">50</h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="assets/img/banner/4.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form id="searchData">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>Tahun</label>
          <select class="form-control select2" id="tahun">
            <option disabled>--Pilih Tahun--</option>
            <% @year=Date.today.year %>
              <% for a in 2022..@year %>
                <% if @year %>
                  <option value="<%= a %>" selected>
                    <%= a %>
                  </option>
                  <% else %>
                    <option value="<%= a %>">
                      <%= a %>
                    </option>
                    <% end %>
                      <% end %>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <label style="color: transparent;">Nilai Material</label><br>
        <button type="submit" class="btn btn-primary searching"><i class="fa fa-search"></i> Search</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-primary">
        <div class="card-header">
          <h4>Card Header</h4>
        </div>
        <div class="card-body">
          <div id="chart1"></div>
        </div>
      </div>
    </div>
  </div>
</section>


<%= javascript_include_tag 'charts' %>
  <script>
    'use strict';
    $(function () {
      chart1();
    });
    function chart1() {
      var options = {
          chart: {
              height: 350,
              type: 'bar',
          },
          plotOptions: {
              bar: {
                  horizontal: false,
                  endingShape: 'rounded',
                  columnWidth: '55%',
              },
          },
          dataLabels: {
              enabled: false
          },
          stroke: {
              show: true,
              width: 2,
              colors: ['transparent']
          },
          series: [{
              name: 'Created',
              data: [44, 55, 57, 56, 61, 58, 63, 60, 66]
          }, {
              name: 'Assigned',
              data: [76, 85, 101, 98, 87, 105, 91, 114, 94]
          }, {
              name: 'Overdue',
              data: [35, 41, 36, 26, 45, 48, 52, 53, 41]
          },{
              name: 'Closed',
              data: [35, 41, 36, 26, 45, 48, 52, 53, 41]
          }
          ],
          xaxis: {
              categories: ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'],
              labels: {
                  style: {
                      colors: '#9aa0ac',
                  }
              }
          },
          yaxis: {
              title: {
                  text: '$ (thousands)'
              },
              labels: {
                  style: {
                      color: '#9aa0ac',
                  }
              }
          },
          fill: {
              opacity: 1

          },
          tooltip: {
              y: {
                  formatter: function (val) {
                      return "$ " + val + " thousands"
                  }
              }
          }
      }

      var chart = new ApexCharts(
          document.querySelector("#chart1"),
          options
      );

      chart.render();
    }
  </script>