<section class="section">
  <div class="row ">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15">Created</h5>
                  <h2 class="mb-3 font-24"><%= @status_created %></h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="assets/img/created.png" alt="" width="138">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15"> Assigned</h5>
                  <h2 class="mb-3 font-24"><%= @status_assigned %></h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="assets/img/assigned.png" alt="" width="138">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15">Overdue</h5>
                  <h2 class="mb-3 font-24"><%= @status_overdue %></h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="assets/img/banner/3.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15">Closed</h5>
                  <h2 class="mb-3 font-24"><%= @status_closed %></h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="assets/img/closed.png" alt="" width="138">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15">Total Tiket</h5>
                  <h2 class="mb-3 font-24"><%= @all %></h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="assets/img/ticket_total.png" alt="" width="138">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form id="searchData">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>Tahun</label>
          <select class="form-control select2" id="tahun">
            <option disabled>--Pilih--</option>
            <% @year=Date.today.year %>
              <% for a in 2022..@year %>
                <% if @year %>
                  <option value="<%= a %>" selected>
                    <%= a %>
                  </option>
                <% else %>
                  <option value="<%= a %>">
                    <%= a %>
                  </option>
                <% end %>
              <% end %>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Bulan</label>
          <select class="form-control" id="bulan">
            <option value="">--Pilih--</option>
              <% for a in 01..12 %>
                <option value="<%= a %>">
                  <%= a %>
                </option>
              <% end %>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Teknisi</label>
          <select class="form-control select2" id="teknisi">
            <option value="">--Pilih--</option>
            <% Technician.all.each do |data| %>
              <option value="<%= data.id %>"><%= data.user.username %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <label style="color: transparent;">Nilai Material</label><br>
        <button type="submit" class="btn btn-primary searching"><i class="fa fa-search"></i> Search</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-primary">
        <div class="card-header">
          <h4>Tiket</h4>
        </div>
        <div class="card-body">
          <div id="chart1"></div>
        </div>
      </div>
    </div>
  </div>
</section>


<%= javascript_include_tag 'charts' %>
  <script>
    'use strict';
    $(function () {
      chart1();
    });
    function chart1() {
      var options = {
          chart: {
              height: 350,
              type: 'bar',
          },
          plotOptions: {
              bar: {
                  horizontal: false,
                  endingShape: 'rounded',
                  columnWidth: '55%',
              },
          },
          dataLabels: {
              enabled: false
          },
          stroke: {
              show: true,
              width: 2,
              colors: ['transparent']
          },
          series: [{
              name: 'Created',
              data: [44, 55, 57, 56, 61, 58, 63, 60, 66]
          }, {
              name: 'Assigned',
              data: [76, 85, 101, 98, 87, 105, 91, 114, 94]
          }, {
              name: 'Overdue',
              data: [35, 41, 36, 26, 45, 48, 52, 53, 41]
          },{
              name: 'Closed',
              data: [35, 41, 36, 26, 45, 48, 52, 53, 41]
          }
          ],
          xaxis: {
              categories: ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'],
              labels: {
                  style: {
                      colors: '#9aa0ac',
                  }
              }
          },
          yaxis: {
              title: {
                  text: '$ (thousands)'
              },
              labels: {
                  style: {
                      color: '#9aa0ac',
                  }
              }
          },
          fill: {
              opacity: 1

          },
          tooltip: {
              y: {
                  formatter: function (val) {
                      return "$ " + val + " thousands"
                  }
              }
          }
      }

      var chart = new ApexCharts(
          document.querySelector("#chart1"),
          options
      );

      chart.render();
    }
  </script>