<section class="section">
  <div class="row ">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15">Open</h5>
                  <h2 class="mb-3 font-24">5</h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="assets/img/banner/1.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15"> Progress</h5>
                  <h2 class="mb-3 font-24">10</h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="assets/img/banner/2.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15">Solved</h5>
                  <h2 class="mb-3 font-24">35</h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="assets/img/banner/3.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-statistic-4">
          <div class="align-items-center justify-content-between">
            <div class="row ">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                  <h5 class="font-15">Total Tiket</h5>
                  <h2 class="mb-3 font-24">50</h2>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                  <img src="assets/img/banner/4.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form id="searchData">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>Tahun</label>
          <select class="form-control select2" id="tahun">
            <option disabled>--Pilih Tahun--</option>
            <% @year=Date.today.year %>
              <% for a in 2022..@year %>
                <% if @year %>
                  <option value="<%= a %>" selected>
                    <%= a %>
                  </option>
                  <% else %>
                    <option value="<%= a %>">
                      <%= a %>
                    </option>
                    <% end %>
                      <% end %>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <label style="color: transparent;">Nilai Material</label><br>
        <button type="submit" class="btn btn-primary searching"><i class="fa fa-search"></i> Search</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-6">
      <div class="card">
        <div class="card-header">
          <h4>Presentase Kondisi Aset</h4>
        </div>
        <div class="card-body" style="height: 400px;">
          <div class="recent-report__chart">
            <div id="chart1"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-6">
      <div class="card">
        <div class="card-header">
          <h4>Presentase Peminjaman Aset</h4>
        </div>
        <div class="card-body" style="height: 400px;">
          <div class="recent-report__chart">
            <div id="chart2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%= javascript_include_tag 'charts' %>
  <script>
    'use strict';
    $(document).ready(function () {
      $.ajax({
        url: "<%= searchDataDashboard_helper_json_index_path %>",
        method: 'POST',
        data: {
          authenticity_token: '<%= form_authenticity_token %>',
        },
        success: function (data) {
          console.log(data[0]['data']);
          // let arrayTotal = [];
          // for (let i = 0; i < data[0]['data_dashboard'].length; i++) {
          //     const element = data[0]['data_dashboard'][i];
          //     arrayTotal.push(element['total_harga']);
          // }
          $('#chart1').empty();
          $('#chart2').empty();
          chart1(data[0]['data']);
          chart2(data[0]['data_pinjam']);
        }
      });

    });

    $('#searchData').submit(function (e) {
      $('.searching').html('<i class="fa fa-search"></i> Loading...');
      e.preventDefault();
      const tahun = $('#tahun option:selected').val();
      $.ajax({
        url: "<%= searchDataDashboard_helper_json_index_path %>",
        method: 'POST',
        data: {
          authenticity_token: '<%= form_authenticity_token %>',
          tahun: tahun
        },
        success: function (data) {
          console.log(data);
          $('.searching').html('<i class="fa fa-search"></i> Search');
          // let arrayTotal = [];
          // for (let i = 0; i < data[0]['data_dashboard'].length; i++) {
          //     const element = data[0]['data_dashboard'][i];
          //     arrayTotal.push(element['total_harga']);
          // }
          $('#chart1').empty();
          $('#chart2').empty();
          chart1(data[0]['data']);
          chart2(data[0]['data_pinjam']);
        }
      });
    });

    function chart1(data) {
      $('#chart1').show();
      let arrayBaik = [];
      let arrayDiperbaiki = [];
      let arrayDiganti = [];
      for (let i = 0; i < data.length; i++) {
        const element = data[i];
        arrayBaik.push(element['data_baik']);
        arrayDiperbaiki.push(element['data_diperbaiki']);
        arrayDiganti.push(element['data_diganti']);
      }
      console.log(arrayBaik[0]);
      var options = {
        chart: {
          width: 450,
          type: 'pie',
        },
        labels: ['Kondisi Baik', 'Kondisi Diperbaiki', 'Kondisi Diganti'],
        series: [arrayBaik[0], arrayDiperbaiki[0], arrayDiganti[0]],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
      }

      var chart = new ApexCharts(
        document.querySelector("#chart1"),
        options
      );

      chart.render();
    }

    function chart2(data) {
      $('#chart2').show();
      let arrayPinjam = [];
      let arrayKantor = [];
      for (let i = 0; i < data.length; i++) {
        const element = data[i];
        arrayPinjam.push(element['data_dipinjam']);
        arrayKantor.push(element['data_kantor']);
      }
      var options = {
        chart: {
          width: 400,
          type: 'pie',
        },
        labels: ['Dipinjam', 'Tersedia'],
        series: [arrayPinjam[0], arrayKantor[0]],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
      }

      var chart = new ApexCharts(
        document.querySelector("#chart2"),
        options
      );

      chart.render();
    }
  </script>