<div class="modal fade" id="form-ticket" role="dialog" aria-labelledby="formModal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="formModal"></h5>
          <button type="button" class="close" id="close-modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data" id="post">
            <input type="hidden" name="authenticity_token" id="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" id="id_tiket" name="id_tiket">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Nomor Tiket</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="nomor-tiket" name="nomor_tiket" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label>Layanan</label>
                  <div class="input-group">
                    <select class="form-control select2" id="layanan" name="layanan" style="width: 100%;">
                      <option value="">--Pilih--</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Dibuat Oleh</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="dibuat_oleh" id="dibuat-oleh" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label>Sub Layanan</label>
                  <div class="input-group">
                    <select class="form-control select2" id="sub-layanan" name="sub_layanan" style="width: 100%;">
                      <option value="">--Pilih--</option>
                    </select>
                  </div>
                </div>
              </div>
              <div id="kucing-garong" hidden>
                <div class="form-group">
                  <label>Atasan Langsung</label>
                  <div class="input-group">
                    <select class="form-control select2" id="approval-by" name="approval_by" style="width: 100%;">
                      <option value="">--Pilih--</option>
                    </select>
                  </div>
                </div>
              </div>
              <div id="ubah-approval1" class="col-md-6">
                <div class="form-group">
                  <label>Satuan Kerja</label>
                  <div class="input-group">
                    <select class="form-control select2" id="satuan-kerja" name="satuan_kerja" style="width: 100%;">
                      <option value="">--Pilih--</option>
                    </select>
                  </div>
                </div>
              </div>
              <div id="ubah-approval2" class="col-md-6">
                <div class="form-group">
                  <label>Area</label>
                  <div class="input-group">
                    <select class="form-control select2" id="area" name="area" style="width: 100%;">
                      <option value="">--Pilih--</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label>Deskripsi <small>Optional</small></label>
                  <div class="input-group">
                    <textarea class="form-control" name="deskripsi" id="deskripsi"></textarea>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label>File <small>Optional</small></label>
                  <div class="input-group">
                    <input type="file" name="file_tiket[]" class="form-control" multiple>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <button class="form-control btn btn-md btn-info" id="simpan">Simpan</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal Detail-->

<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="formModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Detail</h5>
        <button type="button" class="close" id="close-modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Nomor Tiket</label>
              <div class="input-group">
                <input type="text" class="form-control" id="detail-nomor-tiket" disabled>
              </div>
            </div>
            <div class="form-group">
              <label>Layanan</label>
              <div class="input-group">
                <input type="text" class="form-control" id="detail-layanan" disabled>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Dibuat Oleh</label>
              <div class="input-group">
                <input type="text" class="form-control" id="detail-dibuat-oleh" disabled>
              </div>
            </div>
            <div class="form-group">
              <label>Sub Layanan</label>
              <div class="input-group">
                <input type="text" class="form-control" id="detail-sub-layanan" disabled>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Satuan Kerja</label>
              <div class="input-group">
                <input type="text" class="form-control" id="detail-satuan-kerja" disabled>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Area</label>
              <div class="input-group">
                <input type="text" class="form-control" id="detail-area" disabled>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Deskripsi</label>
              <div class="input-group">
                <textarea class="form-control" id="detail-deskripsi" disabled></textarea>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <div class="assign-teknisi"></div>
            </div>
          </div>

          <div class="col-md-7">
            <div class="form-group">
              <label>Attachment</label>
              <div class="file-button"></div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label style="color: transparent;">approval</label>
              <div class="approval-button row"></div>
            </div>
          </div>

        </div>
        <div class="section-body">
          <h4 class="section-title">History</h4>
          <div class="row">
            <div class="col-12">
              <div class="activities">
                <div class="activity">
                  <div class="activity-icon bg-primary text-white">
                    <i class="fas fa-comment-alt"></i>
                  </div>
                  <div class="activity-detail">
                    <div class="mb-2">
                      <span class="text-job text-primary">2 min ago</span>
                      <span class="bullet"></span>
                      <a class="text-job" href="#">View</a>
                      <div class="float-right dropdown">
                        <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
                        <div class="dropdown-menu">
                          <div class="dropdown-title">Options</div>
                          <a href="#" class="dropdown-item has-icon"><i class="fas fa-eye"></i> View</a>
                          <a href="#" class="dropdown-item has-icon"><i class="fas fa-list"></i> Detail</a>
                          <div class="dropdown-divider"></div>
                          <a href="#" class="dropdown-item has-icon text-danger"
                            data-confirm="Wait, wait, wait...|This action can't be undone. Want to take risks?"
                            data-confirm-text-yes="Yes, IDC"><i class="fas fa-trash-alt"></i> Archive</a>
                        </div>
                      </div>
                    </div>
                    <p>Have commented on the task of "<a href="#">Responsive design</a>".</p>
                  </div>
                </div>
                <div class="activity">
                  <div class="activity-icon bg-primary text-white">
                    <i class="fas fa-arrows-alt"></i>
                  </div>
                  <div class="activity-detail">
                    <div class="mb-2">
                      <span class="text-job">1 hour ago</span>
                      <span class="bullet"></span>
                      <a class="text-job" href="#">View</a>
                      <div class="float-right dropdown">
                        <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
                        <div class="dropdown-menu">
                          <div class="dropdown-title">Options</div>
                          <a href="#" class="dropdown-item has-icon"><i class="fas fa-eye"></i> View</a>
                          <a href="#" class="dropdown-item has-icon"><i class="fas fa-list"></i> Detail</a>
                          <div class="dropdown-divider"></div>
                          <a href="#" class="dropdown-item has-icon text-danger"
                            data-confirm="Wait, wait, wait...|This action can't be undone. Want to take risks?"
                            data-confirm-text-yes="Yes, IDC"><i class="fas fa-trash-alt"></i> Archive</a>
                        </div>
                      </div>
                    </div>
                    <p>Moved the task "<a href="#">Fix some features that are bugs in the master module</a>" from
                      Progress to Finish.</p>
                  </div>
                </div>
                <div class="activity">
                  <div class="activity-icon bg-primary text-white">
                    <i class="fas fa-unlock"></i>
                  </div>
                  <div class="activity-detail">
                    <div class="mb-2">
                      <span class="text-job">4 hour ago</span>
                      <span class="bullet"></span>
                      <a class="text-job" href="#">View</a>
                      <div class="float-right dropdown">
                        <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
                        <div class="dropdown-menu">
                          <div class="dropdown-title">Options</div>
                          <a href="#" class="dropdown-item has-icon"><i class="fas fa-eye"></i> View</a>
                          <a href="#" class="dropdown-item has-icon"><i class="fas fa-list"></i> Detail</a>
                          <div class="dropdown-divider"></div>
                          <a href="#" class="dropdown-item has-icon text-danger"
                            data-confirm="Wait, wait, wait...|This action can't be undone. Want to take risks?"
                            data-confirm-text-yes="Yes, IDC"><i class="fas fa-trash-alt"></i> Archive</a>
                        </div>
                      </div>
                    </div>
                    <p>Login to the system with ujang@maman.com email and location in Bogor.</p>
                  </div>
                </div>
                <div class="activity">
                  <div class="activity-icon bg-primary text-white">
                    <i class="fas fa-sign-out-alt"></i>
                  </div>
                  <div class="activity-detail">
                    <div class="mb-2">
                      <span class="text-job">12 hour ago</span>
                      <span class="bullet"></span>
                      <a class="text-job" href="#">View</a>
                      <div class="float-right dropdown">
                        <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
                        <div class="dropdown-menu">
                          <div class="dropdown-title">Options</div>
                          <a href="#" class="dropdown-item has-icon"><i class="fas fa-eye"></i> View</a>
                          <a href="#" class="dropdown-item has-icon"><i class="fas fa-list"></i> Detail</a>
                          <div class="dropdown-divider"></div>
                          <a href="#" class="dropdown-item has-icon text-danger"
                            data-confirm="Wait, wait, wait...|This action can't be undone. Want to take risks?"
                            data-confirm-text-yes="Yes, IDC"><i class="fas fa-trash-alt"></i> Archive</a>
                        </div>
                      </div>
                    </div>
                    <p>Log out of the system after 6 hours using the system.</p>
                  </div>
                </div>
                <div class="activity">
                  <div class="activity-icon bg-primary text-white">
                    <i class="fas fa-trash"></i>
                  </div>
                  <div class="activity-detail">
                    <div class="mb-2">
                      <span class="text-job">Yesterday</span>
                      <span class="bullet"></span>
                      <a class="text-job" href="#">View</a>
                      <div class="float-right dropdown">
                        <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
                        <div class="dropdown-menu">
                          <div class="dropdown-title">Options</div>
                          <a href="#" class="dropdown-item has-icon"><i class="fas fa-eye"></i> View</a>
                          <a href="#" class="dropdown-item has-icon"><i class="fas fa-list"></i> Detail</a>
                          <div class="dropdown-divider"></div>
                          <a href="#" class="dropdown-item has-icon text-danger"
                            data-confirm="Wait, wait, wait...|This action can't be undone. Want to take risks?"
                            data-confirm-text-yes="Yes, IDC"><i class="fas fa-trash-alt"></i> Archive</a>
                        </div>
                      </div>
                    </div>
                    <p>Removing task "Delete all unwanted selectors in CSS files".</p>
                  </div>
                </div>
                <div class="activity">
                  <div class="activity-icon bg-primary text-white">
                    <i class="fas fa-trash"></i>
                  </div>
                  <div class="activity-detail">
                    <div class="mb-2">
                      <span class="text-job">Yesterday</span>
                      <span class="bullet"></span>
                      <a class="text-job" href="#">View</a>
                      <div class="float-right dropdown">
                        <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
                        <div class="dropdown-menu">
                          <div class="dropdown-title">Options</div>
                          <a href="#" class="dropdown-item has-icon"><i class="fas fa-eye"></i> View</a>
                          <a href="#" class="dropdown-item has-icon"><i class="fas fa-list"></i> Detail</a>
                          <div class="dropdown-divider"></div>
                          <a href="#" class="dropdown-item has-icon text-danger"
                            data-confirm="Wait, wait, wait...|This action can't be undone. Want to take risks?"
                            data-confirm-text-yes="Yes, IDC"><i class="fas fa-trash-alt"></i> Archive</a>
                        </div>
                      </div>
                    </div>
                    <p>Assign the task of "<a href="#">Redesigning website header and make it responsive AF</a>" to <a
                        href="#">Syahdan Ubaidilah</a>.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card shadow mb-4">
      <div class="card-header mt-2">
        <h4>Data Tiket</h4>
        <div class="card-header-form">
          <%
=begin%>
 <% if current_user.can? { |permissions| permissions.ticket.create? } %> 
<%
=end%>
        <% if current_user.roles.any? {|r| r.name == "user"} %>
          <div class="align-items-center">
            <button class="form-control tambah-ticket btn btn-info btn-md" data-backdrop="true" data-toggle="modal" data-target="#form-ticket">+ Tiket</button>
          </div>
        <% end %>
        </div>
      </div>

    <div class="modal fade" id="assign" role="dialog" aria-labelledby="formModal"
      aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5>Assigning Ticket</h5>
            <button type="button" class="close" id="close-modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <input type="hidden" id="id_tiket_assign">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Teknisi</label>
                    <div class="input-group">
                      <select class="form-control select2" id="assign_teknisi" style="width: 100%;">
                        <% Technician.all.each do |data| %>
                          <option value="<%= data.user.username %>"><%= data.user.username %></option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <button class="form-control btn btn-md btn-info" id="kirimTiket">Simpan</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="reject" role="dialog" aria-labelledby="formModal"
      aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5>Reject Tiket</h5>
            <button type="button" class="close" id="close-modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <input type="hidden" id="id_reject">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Deskripsi</label>
                    <textarea class="form-control deskripsi" size="100"></textarea>
                  </div>
                </div>
                <div class="col-md-4">
                  <button class="form-control btn btn-md btn-info" id="kirimReject">Simpan</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable_user" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="text-center" style="width: 20px;">No</th>
              <th>Nomor Tiket</th>
              <th>Satuan Kerja</th>
              <th>Dibuat Oleh</th>
              <th>Status Tiket</th>
              <th>Tanggal Dibuat</th>
              <th>Respon Tiket</th>
              <th>Lama Respon</th>
              <th class="text-center" style="width: 100px;">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @tickets.each_with_index do |ticket, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= ticket.no_ticket %></td>
                <td><%= ticket.work_unit.nama %></td>
                <td><%= ticket.issued_by %></td>
                <td><%= ticket.status %></td>
                <td><%= ticket.created_at.strftime("%d %b %Y %H:%M:%S") %></td>
                <td><%= ticket.created_respon.try(:strftime, "%d %b %Y %H:%M:%S") %></td>
                <td>
                  <%
                    begin
                      result = (ticket.created_respon - ticket.created_at) / 1.minute
                    rescue
                     result = 0
                    end

                    if result >= 60
                      hasil = result / 60
                      ket = " Jam"
                    else
                      hasil = result
                      ket = " Menit"
                    end
                  %>
                  <%= number_with_precision(hasil, precision:2) + ket %>
                </td>
                <td>
                  <button class="btn btn-primary btn-sm detailTiket" data-backdrop="true" data-toggle="modal" data-target="#detail" data-id="<%= ticket.id %>">Detail</button>

                  <% unless ticket.status == "inprogress" || ticket.status == "closed" || ticket.status == "overdue" || ticket.status == "rejected" %>
                    <% unless current_user.roles.any? {|r| r.name == "kepala divisi" || r.name == "projek manajer" || r.name == "manajer it"} %>
                      <button class="btn btn-info btn-sm editTiket" data-backdrop="true" data-toggle="modal" data-target="#form-ticket" data-id="<%= ticket.id %>">Edit</button>
                      <button class="btn btn-danger btn-sm hapusTiket" data-id="<%= ticket.id %>">Hapus</button>
                    <% end %>
                  <% end %>
                  <% if current_user.roles.any? {|r| r.name == "admin"} %>
                    <% if ticket.status == "inprogress" || ticket.status == "overdue" %>
                      <button class="btn btn-info btn-sm done" data-id="<%= ticket.id %>">Close</button>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on('click', '.detailTiket', function(){
    var id = $(this).data('id');
    $('.file-button').empty()
    $.ajax({
      url: "/transaksi/tickets/detail",
      method: 'GET',
      data : {
        id:id
      },
      success: function(data)
      {
        $('#detail-nomor-tiket').val(data['data_ticket']['nomor_tiket']);
        $('#detail-dibuat-oleh').val(data['data_ticket']['dibuat_oleh']);
        $('#detail-layanan').val(data['data_ticket']['layanan']);
        $('#detail-sub-layanan').val(data['data_ticket']['sub_layanan']);
        $('#detail-area').val(data['data_ticket']['area']);
        $('#detail-satuan-kerja').val(data['data_ticket']['satuan_kerja']);
        $('#detail-deskripsi').val(data['data_ticket']['deskripsi']);
        $('#detail-teknisi').val(data['data_ticket']['teknisi']);
        $('.assign-teknisi').empty();
        $('.approval-button').empty();
        if (data['data_ticket']['current_user'] == "admin" || data['data_ticket']['current_user'] == "teknisi") {
          if (data['data_ticket']['status'] == "open") {
            $('.approval-button').append(`
              <button class="btn btn-info btn-sm assign" data-backdrop="true" data-toggle="modal" data-target="#assign" data-id="${id}">Assigning</button>
            `);
          }
        }
        $('.assign-teknisi').append(`
          <label>Teknisi</label>
          <input type="text" class="form-control" value="${data['data_ticket']['teknisi']}" disabled>
        `);

        if (data['data_ticket']['current_user'] == "kepala divisi" || data['data_ticket']['current_user'] == "projek manajer") {
          if (data['data_ticket']['status'] == "created") {
             $('.approval-button').append(`
              <button class="btn btn-info btn-sm col-md-6 approve" data-id="${id}">Approve</button>
            `);
            $('.approval-button').append(`
              <button class="btn btn-danger btn-sm col-md-5 ml-2 reject" data-backdrop="true" data-toggle="modal" data-target="#reject" data-id="${id}">Reject</button>
            `);
          }
        }

        if (data['data_ticket']['status'] == "approval1" && data['data_ticket']['current_user'] == "manajer it") {
           $('.approval-button').append(`
            <button class="btn btn-info btn-sm col-md-6 approve" data-id="${id}">Approve</button>
          `);
          $('.approval-button').append(`
            <button class="btn btn-danger btn-sm col-md-5 ml-2 reject" data-backdrop="true" data-toggle="modal" data-target="#reject" data-id="${id}">Reject</button>
          `);
        }

        for (let i = 0; i < data['data_ticket']['file'].length; i++) {
          const element = data['data_ticket']['file'][i];
          $('.file-button').append(`
            <a href="${element['link']}" target="_blank">${element['nama_file']}</a><br>
          `);          
        }
      }
    });
  });

  $(document).on('click', '.reject', function(){
    var id = $(this).data('id');
    $('#id_reject').val(id);
  });

  $(document).on('click', '#kirimReject', function(e){
    e.preventDefault();
    var id = $('#id_reject').val();
    var deskripsi = $('.deskripsi').val();
    $.ajax({
      url: "/transaksi/tickets/ticket-reject",
      method: 'POST',
      data : {
        authenticity_token: '<%= form_authenticity_token %>',
        id:id,
        deskripsi:deskripsi
      },
      success: function(data){
        if (data['status'] == 200) {
          window.location.href = "/tickets";
        }else if (data['status'] == 500) {
          window.location.href = "/tickets";
        }
      }
    });
  });

  $(document).on('click', '.editTiket', function(){
    $('.modal-title').text('Ubah Tiket');
    var id = $(this).data('id');
    $.ajax({
      url: "/transaksi/tickets/detail-tiket",
      method: 'GET',
      data : {
        authenticity_token: '<%= form_authenticity_token %>',
        id:id
      },
      success: function(data)
      {
        $('#id_tiket').val(data[0]['data_ticket']['id'])
        $('#nomor-tiket').val(data[0]['data_ticket']['no_ticket']);
        $('#dibuat-oleh').val(data[0]['data_ticket']['issued_by']);
        $('#deskripsi').val(data[0]['data_ticket']['description']);
        var sub_category_id = data[0]['data_ticket']['sub_category_id'];
        var follow_by = data[0]['data_ticket']['approval_by'];
        for (let i = 0; i < data[0]['categories'].length; i++) {
          const element = data[0]['categories'][i];
          if (data[0]['data_ticket']['category_id'] == element['id']) {
            $('#layanan').append(`
              <option value="${element['id']}" selected>${element['nama_kategori']}</option>
            `);
          }else{
            $('#layanan').append(`
              <option value="${element['id']}">${element['nama_kategori']}</option>
            `);
          }
        }

        for (let i = 0; i < data[0]['areas'].length; i++) {
          const element = data[0]['areas'][i];
          if (data[0]['data_ticket']['area_id'] == element['id']) {
            $('#area').append(`
              <option value="${element['id']}" selected>${element['nama']}</option>
            `);
          }else{
            $('#area').append(`
              <option value="${element['id']}">${element['nama']}</option>
            `);
          }
        }

        for (let i = 0; i < data[0]['work_units'].length; i++) {
          const element = data[0]['work_units'][i];
          if (data[0]['data_ticket']['work_unit_id'] == element['id']) {
            $('#satuan-kerja').append(`
              <option value="${element['id']}" selected>${element['nama']}</option>
            `);
          }else{
            $('#satuan-kerja').append(`
              <option value="${element['id']}">${element['nama']}</option>
            `);
          }
        }

        var kategori = $('#layanan option:selected').val();
        $.ajax({
          url: "/transaksi/tickets/list-sub-category",
          method: 'GET',
          data :{
            category_id:kategori
          },
          success: function(data)
          {
            $('#sub-layanan').empty();
            $('#sub-layanan').append(`
                  <option value="">--Pilih--</option>
            `);
            for (let i = 0; i < data[0]['sub_category'].length; i++) {
              const element = data[0]['sub_category'][i];
              if (sub_category_id == element['id']) {
                $('#sub-layanan').append(`
                  <option value="${element['id']}" selected>${element['nama_sub_kategori']}</option>
                `);
              }else{
                $('#sub-layanan').append(`
                  <option value="${element['id']}">${element['nama_sub_kategori']}</option>
                `);
              }
            }

            var sub_kategori = $('#sub-layanan option:selected').val();
            $.ajax({
              url: "/transaksi/tickets/get-approval-berjenjang",
              method: 'GET',
              data: {
                id:sub_kategori
              },
              success: function(data)
              {
                $('#approval-by').empty();
                if (data['status_approval'] == 1) {
                  for (let i = 0; i < data['user'].length; i++) {
                    const element = data['user'][i];
                    if (follow_by == element['username']) {
                      $('#approval-by').append(`<option value="${element['username']}" selected>${element['username']}</option>`);
                    }else{
                      $('#approval-by').append(`<option value="${element['username']}">${element['username']}</option>`);
                    }
                  }
                  $('#kucing-garong').prop('hidden', false);
                  $('#ubah-approval1').removeClass();
                  $('#ubah-approval2').removeClass();
                  $('#ubah-approval1').addClass('col-md-4');
                  $('#ubah-approval2').addClass('col-md-4');
                  $('#kucing-garong').addClass('col-md-4');
                  console.log(data['user']);
                }else{
                  $('#kucing-garong').prop('hidden', true);
                  $('#kucing-garong').removeClass();
                  $('#ubah-approval1').removeClass();
                  $('#ubah-approval2').removeClass();
                  $('#ubah-approval1').addClass('col-md-6');
                  $('#ubah-approval2').addClass('col-md-6');
                }
              }
            });
          }
        });

        $(document).on('change', '#layanan', function(){
          var id = $(this).val();
          $.ajax({
            url: "/transaksi/tickets/list-sub-category",
            method: 'GET',
            data :{
              category_id:id
            },
            success: function(data)
            {
              $('#sub-layanan').empty();
              $('#sub-layanan').append(`
                    <option value="">--Pilih--</option>
              `);
              for (let i = 0; i < data[0]['sub_category'].length; i++) {
                const element = data[0]['sub_category'][i];
                $('#sub-layanan').append(`
                  <option value="${element['id']}">${element['nama_sub_kategori']}</option>
                `);
              }
            }
          });
        });

        $(document).on('change', '#sub-layanan', function(){
          var id = $(this).val();
          $.ajax({
            url: "/transaksi/tickets/get-approval-berjenjang",
            method: 'GET',
            data: {
              id:id
            },
            success: function(data)
            {
              $('#approval-by').empty();
             if (data['status_approval'] == 1) {
              for (let i = 0; i < data['user'].length; i++) {
                const element = data['user'][i];
                $('#approval-by').append(`<option value="${element['username']}">${element['username']}</option>`);
              }
              $('#kucing-garong').prop('hidden', false);
              $('#ubah-approval1').removeClass();
              $('#ubah-approval2').removeClass();
              $('#ubah-approval1').addClass('col-md-4');
              $('#ubah-approval2').addClass('col-md-4');
              $('#kucing-garong').addClass('col-md-4');
              console.log(data['user']);
             }else{
              $('#kucing-garong').prop('hidden', true);
              $('#kucing-garong').removeClass();
              $('#ubah-approval1').removeClass();
              $('#ubah-approval2').removeClass();
              $('#ubah-approval1').addClass('col-md-6');
              $('#ubah-approval2').addClass('col-md-6');
             }
            }
          });
        });
      }
    });
  });

  $(document).on('click','.hapusTiket',function(e){
    e.preventDefault();
    var id = $(this).data('id');
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: "/transaksi/tickets/delete-ticket",
          method: 'DELETE',
          data : {
            authenticity_token: '<%= form_authenticity_token %>',
            id:id
          },
          success: function(data)
          {
            if (data['status'] == 200) {
              window.location.href = "/tickets";
            }else if (data['status'] == 500) {
              window.location.href = "/tickets";
            }
          }
        });
        Swal.fire(
          'Deleted!',
          'Your file has been deleted.',
          'success'
        )
      }
    });    
  });

  $(document).on('click','.approve',function(e){
    e.preventDefault();
    var id = $(this).data('id');
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, approve it!'
      }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: "/transaksi/tickets/ticket-approval",
          method: 'PUT',
          data : {
            authenticity_token: '<%= form_authenticity_token %>',
            id:id
          },
          success: function(data)
          {
            if (data['status'] == 200) {
              window.location.href = "/tickets";
            }else if (data['status'] == 500) {
              window.location.href = "/tickets";
            }
          }
        });
        Swal.fire(
          'Deleted!',
          'Your file has been deleted.',
          'success'
        )
      }
    });    
  });

  $(document).on('click', '.assign', function(){
    var id = $(this).data('id');
    $('#id_tiket_assign').val(id);
  });

  $(document).on('click', '#kirimTiket', function(){
    var id = $('#id_tiket_assign').val();
    var teknisi = $('#assign_teknisi').val();
    $('#kirimTiket').text('Loading...');
    $.ajax({
      url: "/transaksi/tickets/ticket-assign",
      method: 'PUT',
      data:{
        authenticity_token: '<%= form_authenticity_token %>',
        id:id,
        teknisi:teknisi
      },
      success: function(data)
      {
        if (data.status == "tersimpan") {
          window.location.href = "/tickets";
        }
      }
    });
  });

  $(document).on('click', '.done', function(){
    var id = $(this).data('id');
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, assigned it!'
      }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: "/transaksi/tickets/ticket-close",
          method: 'PUT',
          data:{
            authenticity_token: '<%= form_authenticity_token %>',
            id:id
          },
          success: function(data)
          {
            if (data.status == "tersimpan") {
              window.location.href = "/tickets";
            }
          }
        });
        Swal.fire(
          'Deleted!',
          'Your file has been deleted.',
          'success'
        )
      }
    });
  });

  $(document).on('click', '.tambah-ticket', function(){
    $('.modal-title').text('Buat Tiket');
    // reset form
    $('#post')[0].reset();
    $('#layanan').find('option:not(:first)').remove();
    $('#sub-layanan').find('option:not(:first)').remove();
    $('#area').find('option:not(:first)').remove();
    $('#satuan-kerja').find('option:not(:first)').remove();

    $('#kucing-garong').prop('hidden', true);
    $('#kucing-garong').removeClass();
    $('#ubah-approval1').removeClass();
    $('#ubah-approval2').removeClass();
    $('#ubah-approval1').addClass('col-md-6');
    $('#ubah-approval2').addClass('col-md-6');
    $.ajax({
      url: "/transaksi/tickets/list-form",
      method: 'GET',
      success: function(data)
      {
        $('#nomor-tiket').val(data[0]['no_ticket']);
        $('#dibuat-oleh').val(data[0]['dibuat_oleh']);
        for (let i = 0; i < data[0]['categories'].length; i++) {
          const element = data[0]['categories'][i];
          $('#layanan').append(`
            <option value="${element['id']}">${element['nama_kategori']}</option>
          `);
        }

        for (let i = 0; i < data[0]['areas'].length; i++) {
          const element = data[0]['areas'][i];
          $('#area').append(`
            <option value="${element['id']}">${element['nama']}</option>
          `);
        }

        for (let i = 0; i < data[0]['work_units'].length; i++) {
          const element = data[0]['work_units'][i];
          $('#satuan-kerja').append(`
            <option value="${element['id']}">${element['nama']}</option>
          `);
        }

        $(document).on('change', '#layanan', function(){
          var id = $(this).val();
          $.ajax({
            url: "/transaksi/tickets/list-sub-category",
            method: 'GET',
            data :{
              category_id:id
            },
            success: function(data)
            {
              $('#sub-layanan').empty();
              $('#sub-layanan').append(`
                    <option value="">--Pilih--</option>
              `);
              for (let i = 0; i < data[0]['sub_category'].length; i++) {
                const element = data[0]['sub_category'][i];
                $('#sub-layanan').append(`
                  <option value="${element['id']}">${element['nama_sub_kategori']}</option>
                `);
              }
            }
          });
        });

        $(document).on('change', '#sub-layanan', function(){
          var id = $(this).val();
          $.ajax({
            url: "/transaksi/tickets/get-approval-berjenjang",
            method: 'GET',
            data: {
              id:id
            },
            success: function(data)
            {
              $('#approval-by').empty();
             if (data['status_approval'] == 1) {
              for (let i = 0; i < data['user'].length; i++) {
                const element = data['user'][i];
                $('#approval-by').append(`<option value="${element['username']}">${element['username']}</option>`);
              }
              $('#kucing-garong').prop('hidden', false);
              $('#ubah-approval1').removeClass();
              $('#ubah-approval2').removeClass();
              $('#ubah-approval1').addClass('col-md-4');
              $('#ubah-approval2').addClass('col-md-4');
              $('#kucing-garong').addClass('col-md-4');
              console.log(data['user']);
             }else{
              $('#kucing-garong').prop('hidden', true);
              $('#kucing-garong').removeClass();
              $('#ubah-approval1').removeClass();
              $('#ubah-approval2').removeClass();
              $('#ubah-approval1').addClass('col-md-6');
              $('#ubah-approval2').addClass('col-md-6');
             }
            }
          });
        });
      }
    });
  });

  const btn_simpan = document.querySelector('#simpan');
  const form_inventory = document.querySelector('form');

  btn_simpan.addEventListener('click', (e) => {
    e.preventDefault();
    const formData = new FormData(form_inventory);
    var id_tiket = $('#id_tiket').val();
    $('#simpan').text('Loading...');
    let xhr = new XMLHttpRequest();  
    if (id_tiket == "") {
      xhr.open("POST", "/transaksi/tickets/create", true);
      xhr.send(formData);
    }else{
      xhr.open("PUT", "/transaksi/tickets/update", true);
      xhr.send(formData);
    }

    xhr.addEventListener("load", function(e){
      let result = JSON.parse(xhr.response);
      if (result.status == "tersimpan") {
        window.location.href = "/tickets";
      }
    });
  });
</script>

