<div class="modal fade" id="form-ticket" role="dialog" aria-labelledby="formModal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="formModal"></h5>
          <button type="button" class="close" id="close-modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data" id="post">
            <input type="hidden" name="authenticity_token" id="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" id="id_tiket">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Nomor Tiket</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="nomor-tiket" name="nomor_tiket" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label>Layanan</label>
                  <div class="input-group">
                    <select class="form-control select2" id="layanan" name="layanan" style="width: 100%;">
                      <option value="">--Pilih--</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Dibuat Oleh</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="dibuat_oleh" id="dibuat-oleh" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label>Sub Layanan</label>
                  <div class="input-group">
                    <select class="form-control select2" id="sub-layanan" name="sub_layanan" style="width: 100%;">
                      <option value="">--Pilih--</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Satuan Kerja</label>
                  <div class="input-group">
                    <select class="form-control select2" id="satuan-kerja" name="satuan_kerja" style="width: 100%;">
                      <option value="">--Pilih--</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Area</label>
                  <div class="input-group">
                    <select class="form-control select2" id="area" name="area" style="width: 100%;">
                      <option value="">--Pilih--</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label>Deskripsi</label>
                  <div class="input-group">
                    <textarea class="form-control" name="deskripsi" id="deskripsi"></textarea>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label>File</label>
                  <div class="input-group">
                    <input type="file" name="file_tiket" class="form-control">
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <button class="form-control btn btn-md btn-info" id="simpan">Simpan</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal Detail-->

<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="formModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Detail</h5>
        <button type="button" class="close" id="close-modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Nomor Tiket</label>
              <div class="input-group">
                <input type="text" class="form-control" id="detail-nomor-tiket" disabled>
              </div>
            </div>
            <div class="form-group">
              <label>Layanan</label>
              <div class="input-group">
                <input type="text" class="form-control" id="detail-layanan" disabled>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Dibuat Oleh</label>
              <div class="input-group">
                <input type="text" class="form-control" id="detail-dibuat-oleh" disabled>
              </div>
            </div>
            <div class="form-group">
              <label>Sub Layanan</label>
              <div class="input-group">
                <input type="text" class="form-control" id="detail-sub-layanan" disabled>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Satuan Kerja</label>
              <div class="input-group">
                <input type="text" class="form-control" id="detail-satuan-kerja" disabled>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Area</label>
              <div class="input-group">
                <input type="text" class="form-control" id="detail-area" disabled>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Deskripsi</label>
              <div class="input-group">
                <textarea class="form-control" id="detail-deskripsi" disabled></textarea>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <div class="assign-button"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card shadow mb-4">
      <div class="card-header mt-2">
        <h4>Data Tiket</h4>
        <div class="card-header-form">
          <% if current_user.can? { |permissions| permissions.ticket.create? } %>
            <div class="align-items-center">
              <button class="form-control tambah-ticket btn btn-info btn-md" data-backdrop="true" data-toggle="modal" data-target="#form-ticket">+ Tiket</button>
            </div>
          <% end %>
        </div>
      </div>

    <div class="modal fade" id="assign" role="dialog" aria-labelledby="formModal"
      aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5>Assigning Ticket</h5>
            <button type="button" class="close" id="close-modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <input type="hidden" id="id_tiket_assign">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Teknisi</label>
                    <div class="input-group">
                      <select class="form-control select2" id="assign_teknisi" style="width: 100%;">
                        <% Technician.all.each do |data| %>
                          <option value="<%= data.user.username %>"><%= data.user.username %></option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <button class="form-control btn btn-md btn-info" id="kirimTiket">Simpan</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable_user" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="text-center" style="width: 20px;">No</th>
              <th>Nomor Tiket</th>
              <th>Satuan Kerja</th>
              <th>Dibuat Oleh</th>
              <th>Prioritas</th>
              <th>Status Tiket</th>
              <th class="text-center" style="width: 100px;">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @tickets.each_with_index do |ticket, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= ticket.no_ticket %></td>
                <td><%= ticket.work_unit.nama %></td>
                <td><%= ticket.issued_by %></td>
                <td><%= ticket.sub_category.priority %></td>
                <td><%= ticket.status %></td>
                <td>
                  <button class="btn btn-primary btn-sm detailTiket" data-backdrop="true" data-toggle="modal" data-target="#detail" data-id="<%= ticket.id %>">Detail</button>

                  <% unless ticket.status == "assigned" || ticket.status == "closed" %>
                    <button class="btn btn-info btn-sm editTiket" data-backdrop="true" data-toggle="modal" data-target="#form-ticket" data-id="<%= ticket.id %>">Edit</button>
                    <button class="btn btn-danger btn-sm hapusTiket" data-id="<%= ticket.id %>">Hapus</button>
                  <% end %>
                  <% if current_user.roles.any? {|r| r.name == "admin"} %>
                    <% if ticket.status == "assigned" %>
                      <button class="btn btn-info btn-sm done" data-id="<%= ticket.id %>">Close</button>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on('click', '.detailTiket', function(){
    var id = $(this).data('id');
    $.ajax({
      url: "/transaksi/tickets/detail",
      method: 'GET',
      data : {
        id:id
      },
      success: function(data)
      {
        $('#detail-nomor-tiket').val(data['data_ticket']['nomor_tiket']);
        $('#detail-dibuat-oleh').val(data['data_ticket']['dibuat_oleh']);
        $('#detail-layanan').val(data['data_ticket']['layanan']);
        $('#detail-sub-layanan').val(data['data_ticket']['sub_layanan']);
        $('#detail-area').val(data['data_ticket']['area']);
        $('#detail-satuan-kerja').val(data['data_ticket']['satuan_kerja']);
        $('#detail-deskripsi').val(data['data_ticket']['deskripsi']);
        $('#detail-teknisi').val(data['data_ticket']['teknisi']);
        $('.assign-button').empty();
        if (data['data_ticket']['status'] == "created" && data['data_ticket']['current_user'] == "admin") {
          $('.assign-button').append(`
            <button class="btn btn-info btn-sm assign" data-backdrop="true" data-toggle="modal" data-target="#assign" data-id="${id}">Assigning</button>
          `);
        }else{
          $('.assign-button').append(`
            <label>Teknisi</label>
            <input type="text" class="form-control" value="${data['data_ticket']['teknisi']}" disabled>
          `);
        }
      }
    });
  });

  $(document).on('click', '.editTiket', function(){
    $('.modal-title').text('Ubah Tiket');
    var id = $(this).data('id');
    $.ajax({
      url: "/transaksi/tickets/detail-tiket",
      method: 'GET',
      data : {
        authenticity_token: '<%= form_authenticity_token %>',
        id:id
      },
      success: function(data)
      {
        $('#id_tiket').val(data[0]['data_ticket']['id'])
        $('#nomor-tiket').val(data[0]['data_ticket']['no_ticket']);
        $('#dibuat-oleh').val(data[0]['data_ticket']['issued_by']);
        $('#deskripsi').val(data[0]['data_ticket']['description']);
        var sub_category_id = data[0]['data_ticket']['sub_category_id'];
        for (let i = 0; i < data[0]['categories'].length; i++) {
          const element = data[0]['categories'][i];
          if (data[0]['data_ticket']['category_id'] == element['id']) {
            $('#layanan').append(`
              <option value="${element['id']}" selected>${element['nama_kategori']}</option>
            `);
          }else{
            $('#layanan').append(`
              <option value="${element['id']}">${element['nama_kategori']}</option>
            `);
          }
        }

        for (let i = 0; i < data[0]['areas'].length; i++) {
          const element = data[0]['areas'][i];
          if (data[0]['data_ticket']['area_id'] == element['id']) {
            $('#area').append(`
              <option value="${element['id']}" selected>${element['nama']}</option>
            `);
          }else{
            $('#area').append(`
              <option value="${element['id']}">${element['nama']}</option>
            `);
          }
        }

        for (let i = 0; i < data[0]['work_units'].length; i++) {
          const element = data[0]['work_units'][i];
          if (data[0]['data_ticket']['work_unit_id'] == element['id']) {
            $('#satuan-kerja').append(`
              <option value="${element['id']}" selected>${element['nama']}</option>
            `);
          }else{
            $('#satuan-kerja').append(`
              <option value="${element['id']}">${element['nama']}</option>
            `);
          }
        }

        var kategori = $('#layanan option:selected').val();
        $.ajax({
          url: "/transaksi/tickets/list-sub-category",
          method: 'GET',
          data :{
            category_id:kategori
          },
          success: function(data)
          {
            $('#sub-layanan').empty();
            $('#sub-layanan').append(`
                  <option value="">--Pilih--</option>
            `);
            for (let i = 0; i < data[0]['sub_category'].length; i++) {
              const element = data[0]['sub_category'][i];
              if (sub_category_id == element['id']) {
                $('#sub-layanan').append(`
                  <option value="${element['id']}" selected>${element['nama_sub_kategori']}</option>
                `);
              }else{
                $('#sub-layanan').append(`
                  <option value="${element['id']}">${element['nama_sub_kategori']}</option>
                `);
              }
            }
          }
        });

        $(document).on('change', '#layanan', function(){
          var id = $(this).val();
          $.ajax({
            url: "/transaksi/tickets/list-sub-category",
            method: 'GET',
            data :{
              category_id:id
            },
            success: function(data)
            {
              $('#sub-layanan').empty();
              $('#sub-layanan').append(`
                    <option value="">--Pilih--</option>
              `);
              for (let i = 0; i < data[0]['sub_category'].length; i++) {
                const element = data[0]['sub_category'][i];
                $('#sub-layanan').append(`
                  <option value="${element['id']}">${element['nama_sub_kategori']}</option>
                `);
              }
            }
          });
        });
      }
    });
  });

  $(document).on('click','.hapusTiket',function(e){
    e.preventDefault();
    var id = $(this).data('id');
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: "/transaksi/tickets/delete-ticket",
          method: 'DELETE',
          data : {
            authenticity_token: '<%= form_authenticity_token %>',
            id:id
          },
          success: function(data)
          {
            if (data['status'] == 200) {
              window.location.href = "/tickets";
            }else if (data['status'] == 500) {
              window.location.href = "/tickets";
            }
          }
        });
        Swal.fire(
          'Deleted!',
          'Your file has been deleted.',
          'success'
        )
      }
    });    
  });
  $(document).on('click', '.assign', function(){
    var id = $(this).data('id');
    $('#id_tiket_assign').val(id);
  });

  $(document).on('click', '#kirimTiket', function(){
    var id = $('#id_tiket_assign').val();
    var teknisi = $('#assign_teknisi').val();
    $('#kirimTiket').text('Loading...');
    $.ajax({
      url: "/transaksi/tickets/ticket-assign",
      method: 'PUT',
      data:{
        authenticity_token: '<%= form_authenticity_token %>',
        id:id,
        teknisi:teknisi
      },
      success: function(data)
      {
        if (result.status == "tersimpan") {
          window.location.href = "/tickets";
        }
      }
    });
  });

  $(document).on('click', '.done', function(){
    var id = $(this).data('id');
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: "/transaksi/tickets/ticket-close",
          method: 'PUT',
          data:{
            authenticity_token: '<%= form_authenticity_token %>',
            id:id
          },
          success: function(data)
          {
            if (result.status == "tersimpan") {
              window.location.href = "/tickets";
            }
          }
        });
        Swal.fire(
          'Deleted!',
          'Your file has been deleted.',
          'success'
        )
      }
    });
  });

  $(document).on('click', '.tambah-ticket', function(){
    $('.modal-title').text('Buat Tiket');
    // reset form
    $('#post')[0].reset();
    $('#layanan').find('option:not(:first)').remove();
    $('#sub-layanan').find('option:not(:first)').remove();
    $('#area').find('option:not(:first)').remove();
    $('#satuan-kerja').find('option:not(:first)').remove();
    $.ajax({
      url: "/transaksi/tickets/list-form",
      method: 'GET',
      success: function(data)
      {
        $('#nomor-tiket').val(data[0]['no_ticket']);
        $('#dibuat-oleh').val(data[0]['dibuat_oleh']);
        for (let i = 0; i < data[0]['categories'].length; i++) {
          const element = data[0]['categories'][i];
          $('#layanan').append(`
            <option value="${element['id']}">${element['nama_kategori']}</option>
          `);
        }

        for (let i = 0; i < data[0]['areas'].length; i++) {
          const element = data[0]['areas'][i];
          $('#area').append(`
            <option value="${element['id']}">${element['nama']}</option>
          `);
        }

        for (let i = 0; i < data[0]['work_units'].length; i++) {
          const element = data[0]['work_units'][i];
          $('#satuan-kerja').append(`
            <option value="${element['id']}">${element['nama']}</option>
          `);
        }

        $(document).on('change', '#layanan', function(){
          var id = $(this).val();
          $.ajax({
            url: "/transaksi/tickets/list-sub-category",
            method: 'GET',
            data :{
              category_id:id
            },
            success: function(data)
            {
              $('#sub-layanan').empty();
              $('#sub-layanan').append(`
                    <option value="">--Pilih--</option>
              `);
              for (let i = 0; i < data[0]['sub_category'].length; i++) {
                const element = data[0]['sub_category'][i];
                $('#sub-layanan').append(`
                  <option value="${element['id']}">${element['nama_sub_kategori']}</option>
                `);
              }
            }
          });
        });
      }
    });
  });

  const btn_simpan = document.querySelector('#simpan');
  const form_inventory = document.querySelector('form');

  btn_simpan.addEventListener('click', (e) => {
    e.preventDefault();
    const formData = new FormData(form_inventory);
    var id_tiket = $('#id_tiket').val();
    $('#simpan').text('Loading...');
    let xhr = new XMLHttpRequest();  
    if (id_tiket == "") {
      xhr.open("POST", "/transaksi/tickets/create", true);
      xhr.send(formData);
    }else{
      xhr.open("PUT", "/transaksi/tickets/update", true);
      xhr.send(formData);
    }

    xhr.addEventListener("load", function(e){
      let result = JSON.parse(xhr.response);
      if (result.status == "tersimpan") {
        window.location.href = "/tickets";
      }
    });
  });
</script>

